.container {
  max-width: 980px;
}

.lh-condensed { line-height: 1.25; }

.il-color {
    color: #00adef!important;
}

.list-group-item h6 span {
  border: solid #222;
  border-width: 0 1px 1px 0;
  cursor: pointer;
  padding: 3px;
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 5px;
}

.list-group-item h6.collapsed span {
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transition: .3s transform ease-in-out;
}

.list-group-item h6 span {
  transform: rotate(-140deg);
  -webkit-transform: rotate(-140deg);
  transition: .3s transform ease-in-out;
}

.card-body {
  border: 0px;
}
